<app-user></app-user>
<div>
  <h2 style="margin-top: 7vh;">Realizar venda</h2>

  <div *ngIf="isLoading" class="spinner-border" role="status" style="width: 50px; height: 50px;">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="!isLoading" class="my-container">
    <div class="row">
      <div class="col-3">
        <h6>Atendente: {{ user.name }}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="quantidade">Quantidade:</label>
        <input type="number" [(ngModel)]="quantidadeSelected" placeholder="Quantidade" name="quantidade" class="form-control" id="quantidade"
               required>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="medicamento">Medicamento:</label>
        <select id="medicamento" name="medicamento" class="form-control" [(ngModel)]="medicamentoSelected">
          <option selected="selected" value="default">Medicamento</option>
          <option *ngFor="let medicamento of medicamentosDisponiveis; let i = index;">{{medicamento.nome}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="animal">Animal:</label>
        <select id="animal" name="animal" class="form-control" [(ngModel)]="animalSelected">
          <option selected="selected" value="default">Animal</option>
          <option *ngFor="let animal of animaisDisponiveis; let i = index;">{{animal.nome}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="realizarVenda()">
          Realizar venda
        </button>
      </div>
    </div>
  </div>



</div>
