<app-user></app-user>
<div>
  <h2>Vendas realizadas</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Veterinario</th>
      <th>Animal</th>
      <th>Data marcada</th>
      <th>Registro</th>
      <th>Realizado?</th>
      <th>Retorno?</th>
      <th>Consulta Origem</th>
      <th>Procedimento</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let consulta of historicoConsultas;">
      <td>{{ consulta.data }}</td>
      <td>{{ consulta.animal.nome }}</td>
      <td>{{ consulta.medicamento.nome }}</td>
      <td>{{ consulta.quantidade }}</td>
      <td>{{ consulta.vendedor.name }}</td>
    </tr>
    </tbody>
  </table>
</div>

