<app-user></app-user>
<div class="container">
    <h2 class="text-center">Cadastrar Retorno</h2>
    <br>
    <form id="formRetorno">
        <div class="row">

            <div class="col-4">
                <label for="consulta">Consulta Pai:</label>
                <select type="number" [(ngModel)]="retorno" placeholder="Código da Consulta" name="consulta" class="form-control" id="consulta" required>
                    <option *ngFor="let type of consultas;" [value]="type.id"> {{type.id}} </option>
                </select>
            </div>

            <div class="col-8">
                <label for="veterinario">Veterinário:</label>
                <select type="text" [(ngModel)]="user" name="veterinario" class="form-control" id="veterinario" required>
                    <option *ngFor="let type of veterinarios;" [value]="type.id"> {{type.name}} </option>
                </select>
            </div>

            <div class="col-4">
                <label for="dataMarcada">Data Marcada:</label>
                <input type="date" [(ngModel)]="consulta.dataMarcada" placeholder="Data Marcada" name="dataMarcada" class="form-control" id="dataMarcada" required>
            </div>

            <div class="col-4">
                <label for="animal">Animal:</label>
                <select type="text" [(ngModel)]="animal" placeholder="Animal" name="animal" class="form-control" id="animal" required>
                    <option *ngFor="let type of animais;" [value]="type.id"> {{type.nome}} </option>
                </select>
            </div>

            <div class="col-4">
                <label for="procedimento">Procedimento:</label>
                <select type="text" [(ngModel)]="consulta.procedimento" name="procedimento" class="form-control" id="procedimento" required>
                    <option *ngFor="let type of Procedimento.values();"> {{type}} </option>
                </select>
            </div>

            <div class="col-12">
                <label for="registro">Registro:</label>
                <textarea class="form-control" placeholder="Registro" [(ngModel)]="consulta.registro" rows="3" name="registro" id="registro" required></textarea>
            </div>
        </div>
        <br>

        <button class="btn btn-success" (click)="createRetorno()">Cadastrar</button>
    </form>
</div>